html { font-size: 2vw; }

#timer {
  font-size: 5vw;
  line-height: 1;
}

.monospace {
  font-family: "Courier New", Courier, monospace;	
}

.roster {
  display: flex;
  flex-direction: column;
  width: 20vw;
  padding: 1em 1em 5em 1em;
  margin-top: 1em;
  background-color: #eeeeee;
  height: 35vh;
  overflow: scroll;
}

.lineup {
  width: 100%;
  padding: 15px;

}

.player {
  display: inline-grid;
  width: 15vw;
  grid-template-columns: 1fr 2fr;
  padding-left: .1em;
  padding-right:  .1em;
  padding-top:  .1em;
  padding-bottom: .1em;
  grid-template-areas:
      "number name";
}

.lineup .player {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 50% 50%;
  grid-template-areas:
      "number name"
      "number time";
}

.roster .player {
  margin-bottom: .5em;
}

.lineup .player-time {
  display: inherit;
}

.player-number {
  grid-area: number;
  font-size: larger;
}

.player-name {
  grid-area: name;
  font-size: smaller
}

.player-time {
  grid-area: time;
  font-size: smaller;
  display: none;
}

.lineup .forwards {
  padding-top: 2vw;
  background-color: #313131;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin: 0 0 3em 0;
  padding: 0;
}

.lineup .defense {
  margin-top: 2vw;
  padding-top: 2vw;
  background-color: #313131;
  height: 30vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  margin: 0 0 3em 0;
  padding: 0;
}

.lineup-slot {
  box-sizing: border-box;
  display: inline-block;
  margin: 10px;
  border: solid 3px white;
  background: white;
  height: 7.5vw;
  width: 25%;
}

.dragging {
  opacity: .2;
}

.dragging-over {
  border-style: dashed;
}